In [12]:
a=["s",67,"f","g","h","j","k"]
for x in range(0,5):
    print(a[x])

s
67
f
g
h

pop to pull out element of the list is queue fashion/here index of the value is given
sort use to sort the list/the list in ascending order and return none.
copy is used to copy
append is used to add element at the end
extend is used to adding elements and extending the the list
index returns the first index of value
count is used to count the number of elements in the list/number of occurance of value/counts of duplicates
insert -insert obeject before index
remove removes the first ocurrence of value/here direct value is used
len(list) gives the length of the list

In [16]:
a=[1,2,3,4,5]
b=a.copy()
print(b)
c=b.pop(3)
print(c)
print(b)
b.append(10)
b.append(3)
b.append(7)
print(b)
print(b.index(3))
print(b.count(3))
print(b.count(3))
b.insert(4,9)
print(b)
b.remove(3)
print(b)
b.sort()
print(b)
b.sort(reverse=True)
print(b)
print(len(b))
b.extend(a)
print(b)

[1, 2, 3, 4, 5]
4
[1, 2, 3, 5]
[1, 2, 3, 5, 10, 3, 7]
2
2
2
[1, 2, 3, 5, 9, 10, 3, 7]
[1, 2, 5, 9, 10, 3, 7]
[1, 2, 3, 5, 7, 9, 10]
[10, 9, 7, 5, 3, 2, 1]
7
[10, 9, 7, 5, 3, 2, 1, 1, 2, 3, 4, 5]

In [17]:
a=[10,7,9,7,8,4,9,2,0,7,2]
for x in a:
    print(x)

10
7
9
7
8
4
9
2
0
7
2

In [18]:
n=int(input("enter the size of list"))
a=[]
for x in range(0,n):
    x=input()
    a.append(x)
print(a)

enter the size of list 5
 1
 2

 3
 4

['1', '2', '', '3', '4']

In [23]:
L=[int(item) for item in(input("enter thr elements of the list:").split())]
print(L)

enter thr elements of the list: 5 6 7 8 9 0

[5, 6, 7, 8, 9, 0]

In [24]:
#tuples
a=(1,2,3,4,5,6,"sana")
print(a)
#we cannot update or append a tuple
#tuple into a list this can be used for updating a tuple
b=list(a)
print(b)
b[5]="ana"
a=tuple(b)
print(a)

(1, 2, 3, 4, 5, 6, 'sana')
[1, 2, 3, 4, 5, 6, 'sana']
(1, 2, 3, 4, 5, 'ana', 'sana')

In [6]:
#reversinng of a list without using any function
a=[1,2,3,4,5]
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

5
4
3
2
1

In [8]:
a=[1,2,3,4,5]
for x in range(0,len(a)):
    print(a[-1*(x+1)])

5
4
3
2
1

In [16]:
#dictionary is key and values
#key value pair
d={1:"sana",2:"shaik"}
print(d)
e={1:"sana",2:"shaik",3:"nisa",2:"ana"}
print(e)
print(e[2])
print(e.keys())
print(e.values())
print(e.items())
print(e.get(2))
print(e.get(4))

{1: 'sana', 2: 'shaik'}
{1: 'sana', 2: 'ana', 3: 'nisa'}
ana
dict_keys([1, 2, 3])
dict_values(['sana', 'ana', 'nisa'])
dict_items([(1, 'sana'), (2, 'ana'), (3, 'nisa')])
ana
None

copy
key provide the key
value provide the value
item provide the item
get
write a program to take key and value as input from the user and add it into the dictionary if key is not present in dictionary other wise print key already exists and also print its exact value.

In [14]:

key=int(input("enter the key"))
value=input("enter the value")

enter the key 3
enter the value sfdg

In [6]:
a=[1,2,3,4,5,6,7,8,9,11]
x=int(input("enter the index number:"))
try:
    print(a[x])  
except:
    print("index out of bond error ")
finally:
    print("error handelled")

print("we have recevide the index value",x)

enter the index number: 11

index out of bond error
error handelled
we have recevide the index value 11

In [8]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
    x="heelo"/3
except ValueError:
    print("value unable tp cinvert")
except ZeroDivisionError:
    print("can't divide by zero")
except :
    print("some unknown error found")
else:
    print("no error")
finally:
    print("code execution done")

 2
 3

some unknown error found
code execution done

WAP to find the sum of all the elements in the list and handle the case if it consists of non numeric value
create a dictionary containing name of student and grades
write a program to handle the grade and the case if dictionary is empty